.px10 {
    padding-left: 10%;
    padding-right: 10%;
    
}

.pe10 {
    padding-right: 10%;
}
.p10 {
    padding: 10%;
}


#banner .row {
    background: rgb(69,224,128);
    background: linear-gradient(90deg, 0%, 75%, rgba(255,255,255,1) 100%); 
}

@media only screen and (max-width: 576px){
    #banner .row {
        background: rgb(69,224,128);
        background: linear-gradient(90deg, 0%, 75%, rgba(255,255,255,1) 100%); 
    }
    
}

@media only screen and (max-width: 768px){
    #banner .row {
        background: rgb(69,224,128);
        background: linear-gradient(90deg, 0%, 75%, rgba(255,255,255,1) 100%); 
    }
}

@media only screen and (max-width: 992px){
    #banner .row {
        background: rgb(69,224,128);
        background: linear-gradient(90deg, 0%, 75%, rgba(255,255,255,1) 100%); 
    }
}

.img300 {
    max-width: 300px;
    min-width: 300px;
    transition: 500ms;
}

.img300:hover {
    filter: brightness(0.6);
    scale: 0.95;
}

p {
    font-size: 1.2em;
    text-align: justify;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(18, 18, 236, 0.514);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(114, 114, 204);
}
